# Eclipse installation
eclipse-jee-*/
.metadata/
.recommenders/

# Node modules
**/node_modules/

# Tomcat
apache-tomcat-*/

# Java compiled files
*.class
*.jar
*.war
*.ear

# Eclipse project files
.settings/
.classpath
.project
bin/
tmp/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
